@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 220 15% 15%; /* Dark Gray */
    --muted: 210 100% 97%; /* Blue-50 */
    --muted-foreground: 220 15% 40%; /* Slightly lighter than foreground */
    --popover: 0 0% 100%; /* White */
    --popover-foreground: 220 15% 15%; /* Dark Gray */
    --card: 0 0% 100%; /* White */
    --card-foreground: 220 15% 15%; /* Dark Gray */
    --border: 210 98% 86%; /* Blue-200 */
    --input: 210 98% 86%; /* Blue-200 */
    --primary: 214 85% 53%; /* Blue-500 (Primary) */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 211 95% 75%; /* Blue-300 */
    --secondary-foreground: 220 15% 15%; /* Dark Gray */
    --accent: 212 90% 64%; /* Blue-400 */
    --accent-foreground: 0 0% 100%; /* White */
    --destructive: 0 84.2% 60.2%; /* Red */
    --destructive-foreground: 0 0% 100%; /* White */
    --ring: 214 85% 53%; /* Same as --primary */
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 15% 10%; /* Dark Gray */
    --foreground: 0 0% 100%; /* White */
    --muted: 220 70% 28%; /* Blue-800 */
    --muted-foreground: 210 100% 85%; /* Light Blue */
    --popover: 220 15% 10%; /* Dark Gray */
    --popover-foreground: 0 0% 100%; /* White */
    --card: 220 15% 10%; /* Dark Gray */
    --card-foreground: 0 0% 100%; /* White */
    --border: 218 75% 36%; /* Blue-700 */
    --input: 218 75% 36%; /* Blue-700 */
    --primary: 212 90% 35%; /* Blue-500 in Dark Mode */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 216 80% 55%; /* Blue-300 in Dark Mode */
    --secondary-foreground: 0 0% 100%; /* White */
    --accent: 214 85% 45%; /* Blue-400 in Dark Mode */
    --accent-foreground: 0 0% 100%; /* White */
    --destructive: 0 62.8% 30.6%; /* Dark Red */
    --destructive-foreground: 0 0% 100%; /* White */
    --ring: 212 90% 35%; /* Same as --primary in Dark Mode */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* After */
[aria-disabled='true'] {
}
[aria-disabled='false'] {
}

.orbit-0 {
  @apply size-36;
  @apply group-hover:animate-orbit-slow;

  &.rounded-rectangle {
    @apply w-36 h-[calc(9rem*0.75)];
  }
}

.orbit-1 {
  @apply size-60;
  @apply group-hover:animate-orbit;

  &.rounded-rectangle {
    @apply w-60 h-[calc(15rem*0.75)];
  }
}

.orbit-2 {
  @apply size-[21rem];
  @apply group-hover:animate-orbit-fast;

  &.rounded-rectangle {
    @apply w-[21rem] h-[calc(21rem*0.75)];
  }
}

.orbit-3 {
  @apply size-[27rem];
  @apply group-hover:animate-orbit-slow;

  &.rounded-rectangle {
    @apply w-[27rem] h-[calc(27rem*0.75)];
  }
}

.orbit-4 {
  @apply size-[33rem];
  @apply group-hover:animate-orbit-fast;

  &.rounded-rectangle {
    @apply w-[33rem] h-[calc(33rem*0.75)];
  }
}

.orbit-5 {
  @apply size-[39rem];
  @apply group-hover:animate-orbit;

  &.rounded-rectangle {
    @apply w-[39rem] h-[calc(39rem*0.75)];
  }
}

.orbit-item-container-left {
  @apply justify-start;
}

.orbit-item-container-right {
  @apply justify-end;
}

.orbit-item-left {
  @apply -ml-5;

  &.rounded-rectangle {
    @apply -ml-3;
  }
}

.orbit-item-right {
  @apply -mr-5;

  &.rounded-rectangle {
    @apply -mr-3;
  }
}
