@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sky */
/* @layer base {
  :root {
    --background: 200 90% 95%;
    --foreground: 210 85% 25%;
    --muted: 200 50% 85%;
    --muted-foreground: 210 85% 25%;
    --popover: 200 90% 95%;
    --popover-foreground: 210 85% 25%;
    --card: 200 90% 95%;
    --card-foreground: 210 85% 25%;
    --border: 200 45% 75%;
    --input: 200 45% 75%;
    --primary: 200 65% 75%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 50% 85%;
    --secondary-foreground: 210 85% 25%;
    --accent: 200 65% 75%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 62%;
    --destructive-foreground: 0 0% 100%;
    --ring: 200 65% 75%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 85% 20%;
    --foreground: 200 90% 98%;
    --muted: 200 65% 75%;
    --muted-foreground: 200 90% 98%;
    --popover: 210 85% 20%;
    --popover-foreground: 200 90% 98%;
    --card: 210 85% 20%;
    --card-foreground: 200 90% 98%;
    --border: 200 45% 75%;
    --input: 200 45% 75%;
    --primary: 200 65% 75%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 50% 85%;
    --secondary-foreground: 0 0% 100%;
    --accent: 200 65% 75%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 62%;
    --destructive-foreground: 0 0% 100%;
    --ring: 200 65% 75%;
  }
} */

@layer base {
  :root {
    --background: 210 90% 92%;
    --foreground: 220 85% 25%;
    --muted: 210 50% 82%;
    --muted-foreground: 220 85% 25%;
    --popover: 210 90% 92%;
    --popover-foreground: 220 85% 25%;
    --card: 210 90% 92%;
    --card-foreground: 220 85% 25%;
    --border: 210 45% 72%;
    --input: 210 45% 72%;
    --primary: 210 65% 72%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 50% 82%;
    --secondary-foreground: 220 85% 25%;
    --accent: 210 65% 72%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 62%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 65% 72%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 85% 18%;
    --foreground: 210 90% 97%;
    --muted: 210 65% 72%;
    --muted-foreground: 210 90% 97%;
    --popover: 220 85% 18%;
    --popover-foreground: 210 90% 97%;
    --card: 220 85% 18%;
    --card-foreground: 210 90% 97%;
    --border: 210 45% 72%;
    --input: 210 45% 72%;
    --primary: 210 65% 72%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 50% 82%;
    --secondary-foreground: 0 0% 100%;
    --accent: 210 65% 72%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 62%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 65% 72%;
  }
}

/* @layer base {
  :root {
    --background: 220 75% 85%;
    --foreground: 230 80% 20%;
    --muted: 220 45% 70%;
    --muted-foreground: 230 80% 20%;
    --popover: 220 75% 85%;
    --popover-foreground: 230 80% 20%;
    --card: 220 75% 85%;
    --card-foreground: 230 80% 20%;
    --border: 220 40% 65%;
    --input: 220 40% 65%;
    --primary: 220 55% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 45% 70%;
    --secondary-foreground: 230 80% 20%;
    --accent: 220 55% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 62%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 55% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230 80% 18%;
    --foreground: 220 75% 95%;
    --muted: 220 55% 65%;
    --muted-foreground: 220 75% 95%;
    --popover: 230 80% 18%;
    --popover-foreground: 220 75% 95%;
    --card: 230 80% 18%;
    --card-foreground: 220 75% 95%;
    --border: 220 40% 65%;
    --input: 220 40% 65%;
    --primary: 220 55% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 45% 70%;
    --secondary-foreground: 0 0% 100%;
    --accent: 220 55% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 62%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 55% 65%;
  }
} */

/* @layer base {
  :root {
    --background: 165 84% 97%; 
    --foreground: 0 0% 11%;
    --muted: 210 56% 91%;
    --muted-foreground: 0 0% 25%;
    --popover: 165 84% 97%;
    --popover-foreground: 0 0% 11%;
    --card: 165 84% 97%; 
    --card-foreground: 0 0% 11%;
    --border: 210 56% 81%;
    --input: 210 56% 81%;
    --primary: 207 66% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 48% 63%;
    --secondary-foreground: 0 0% 11%;
    --accent: 207 60% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 207 66% 30%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 90%;
    --muted: 205 28% 27%;
    --muted-foreground: 195 64% 75%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 90%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 90%;
    --border: 210 40% 28%;
    --input: 210 40% 28%;
    --primary: 193 53% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 30% 65%;
    --secondary-foreground: 0 0% 100%;
    --accent: 195 44% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 52% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 193 53% 70%;
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* After */
[aria-disabled='true'] {
}
[aria-disabled='false'] {
}

.orbit-0 {
  @apply size-36;
  @apply group-hover:animate-orbit-slow;

  &.rounded-rectangle {
    @apply w-36 h-[calc(9rem*0.75)];
  }
}

.orbit-1 {
  @apply size-60;
  @apply group-hover:animate-orbit;

  &.rounded-rectangle {
    @apply w-60 h-[calc(15rem*0.75)];
  }
}

.orbit-2 {
  @apply size-[21rem];
  @apply group-hover:animate-orbit-fast;

  &.rounded-rectangle {
    @apply w-[21rem] h-[calc(21rem*0.75)];
  }
}

.orbit-3 {
  @apply size-[27rem];
  @apply group-hover:animate-orbit-slow;

  &.rounded-rectangle {
    @apply w-[27rem] h-[calc(27rem*0.75)];
  }
}

.orbit-4 {
  @apply size-[33rem];
  @apply group-hover:animate-orbit-fast;

  &.rounded-rectangle {
    @apply w-[33rem] h-[calc(33rem*0.75)];
  }
}

.orbit-5 {
  @apply size-[39rem];
  @apply group-hover:animate-orbit;

  &.rounded-rectangle {
    @apply w-[39rem] h-[calc(39rem*0.75)];
  }
}

.orbit-item-container-left {
  @apply justify-start;
}

.orbit-item-container-right {
  @apply justify-end;
}

.orbit-item-left {
  @apply -ml-5;

  &.rounded-rectangle {
    @apply -ml-3;
  }
}

.orbit-item-right {
  @apply -mr-5;

  &.rounded-rectangle {
    @apply -mr-3;
  }
}
