@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* After */
[aria-disabled='true'] {
}
[aria-disabled='false'] {
}

.orbit-0 {
  @apply size-36;
  @apply group-hover:animate-orbit-slow;

  &.rounded-rectangle {
    @apply w-36 h-[calc(9rem*0.75)];
  }
}

.orbit-1 {
  @apply size-60;
  @apply group-hover:animate-orbit;

  &.rounded-rectangle {
    @apply w-60 h-[calc(15rem*0.75)];
  }
}

.orbit-2 {
  @apply size-[21rem];
  @apply group-hover:animate-orbit-fast;

  &.rounded-rectangle {
    @apply w-[21rem] h-[calc(21rem*0.75)];
  }
}

.orbit-3 {
  @apply size-[27rem];
  @apply group-hover:animate-orbit-slow;

  &.rounded-rectangle {
    @apply w-[27rem] h-[calc(27rem*0.75)];
  }
}

.orbit-4 {
  @apply size-[33rem];
  @apply group-hover:animate-orbit-fast;

  &.rounded-rectangle {
    @apply w-[33rem] h-[calc(33rem*0.75)];
  }
}

.orbit-5 {
  @apply size-[39rem];
  @apply group-hover:animate-orbit;

  &.rounded-rectangle {
    @apply w-[39rem] h-[calc(39rem*0.75)];
  }
}

.orbit-item-container-left {
  @apply justify-start;
}

.orbit-item-container-right {
  @apply justify-end;
}

.orbit-item-left {
  @apply -ml-5;

  &.rounded-rectangle {
    @apply -ml-3;
  }
}

.orbit-item-right {
  @apply -mr-5;

  &.rounded-rectangle {
    @apply -mr-3;
  }
}
